# 火山引擎 API 密钥（必填）
WETOKEN_API_KEY=sk-r3SSYzEONOmDlNQ05phP5KYKfNcc8XyhMhBGWArWXJb833kD


# Supabase 数据库配置（你自己的）
SUPABASE_URL=https://zkbkvavddgwbpiigpiau.supabase.co
SUPABASE_ANON_KEY=sb_publishable_VocQaRZ4XzU3HHpnkm4uTQ_yxGo9ADU
